<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">

	<title>RegServ - Account</title>
    </head>
    <body>

	<div class="container">
	    <h1 class="mt-5"><a href="/">Registration Service</a> - Account</h1>

	    <hr class="mt-4"> 

	    <p class="lead">To <i>register</i> or <i>update</i>
	    the password for an account on <a href="https://chat.ndlug.org">chat.ndlug.org</a>, 
	    please enter in the user <i>Nickname</i> and <i>Password</i> associated with 
	    <a href="mailto:{{ email }}">{{ email }}</a>:</p>

	    <form class="card p-2" method="post">
		<div class="input-group">
		    <input type="text" class="form-control" name="nickname" placeholder="Nickname">
		    <input type="password" class="form-control" name="password" placeholder="Password">
		    <div class="input-group-append">
			<button type="submit" class="btn btn-primary">Register or Update Account</button>
		    </div>
		</div>
	    </form>

	</div>

    </body>
</html>
