<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">

	<title>RegServ - Success</title>
    </head>
    <body>

	<div class="container">
	    <h1 class="mt-5"><a href="/">Registration Service</a> - Success</h1>

	    <hr class="mt-4">

	    <div class="alert alert-success">
		<h4>{{ summary }}</h4>

		<p>{% raw description %}</p>
	    </div>
	</div>

    </body>
</html>
